<section class="section background">
  <div class="section__title">Background</div>
  <div class="section__content">
    <p>
      I'm currently the CEO & CTO at
      <a class="underline-link" href="https://www.ribisomal.co/" target="_blank">Ribosomal</a> Building the first Ai Argent enabled pipeline creation and management tool researchers to deploy pipeline enabled tools. I recently graduated from
      <a class="underline-link" href="http://www.govclab.com/" target="_blank">Venture Institute</a> after completing another venture capital fundamentals program at
      <a class="underline-link" href="https://newtonprogram.vc/" target="_blank">Newton Venture Program</a>,
      <!-- <a class="underline-link" href="https://starry.com/" target="_blank">Starry</a>, and
      <a class="underline-link" href="https://www.apple.com/music/" target="_blank">Apple Music</a>. -->
    </p>

    <p>
      As a Bioengineer, I enjoy bridging the gap between engineering and high alpha generating commercialization &mdash; combining my technical knowledge
      with my metal models for high reward product design. My goal is to always build and commercialize technology and  business models that are scalable
      and efficient across market dynamics, all with an aim to take a calculated risk on disrruptive innovation with a possible exponationl upside in the foreseeable future .
    </p>

    <p>
      <strong>When I'm not in front of a computer screen</strong>, I'm probably playing golf,
      or crossing off another item on my bucket list.
    </p>

    <!-- {% include employment-status.html %} -->
  </div>
</section>
